<div class="screenThreeContainer">
    <!-- everything this component contains is wrapped in here -->

    <div class="headermain mb-3">
        <!-- header component -->
        <app-header [texttodisplay]="'Terms and Conditions'"></app-header>
    </div>

    <div class="body">
        <pre class="p-3 text-left">
            1. INTRODUCTION
            Welcome to the Internet sites operated by subsidiaries and affiliates of AT&T Inc. ("AT&T", "we", "our" and
            "us"). These Internet sites offer a wide variety of resources, products and services, which include shopping
            services, branded and personalized content and entertainment services, communication tools, online
            directories, administrative services, download areas, advertising, games and information, some or all of
            which may be accessed through a variety of means (all of which are collectively called our "Site" or
            "Sites"). The term "you" or "your" includes any of your subsidiaries, affiliates, employees and parent or
            legal guardian.

            PLEASE READ THESE TERMS OF USE CAREFULLY. By accessing or using our Site in any way you are agreeing to
            comply with these Terms of Use, including any documents, policies and guidelines incorporated by reference
            (referred to collectively as the "Terms"). Certain services available through our Site, especially services
            for which you are asked to subscribe or pay money, may have their own terms and conditions that apply to
            your purchase or use of that particular service. The Terms do not alter in any way the terms or conditions
            of any of these other written or online terms and conditions or agreements you may have or will have with
            AT&T, including any other website terms of use with an AT&T affiliate. To the extent that there is any
            conflict between these Terms and any terms and conditions or agreements relating to services you have
            purchased or online tools you use or to which you subscribe, those other terms and conditions or agreements
            will govern.



            2. AUTHORITY
            By using our Site, you represent that you are at least 13 years old. Persons who are at least 13 years of
            age but under the age of 18 may only use our Sites with legal parental or guardian consent. Accordingly, you
            agree that you are at least 18 years of age or older or possess legal parental or guardian consent, and are
            fully able and competent to enter into the terms, conditions, representations and warranties set forth in
            the Terms; otherwise, please exit the Site. AT&T suggests that you take advantage of any access controls
            offered through the Site or third-party sites, which are designed to assist you in limiting or blocking
            access to certain types of web content you may feel are harmful to or inappropriate for minors.



            3. CHANGES TO THE TERMS OR SITE
            AT&T may change or modify the Terms from time-to-time without notice other than posting the amended Terms on
            the Site. The amended Terms will automatically be effective when posted on our Site. Your continued use of
            our Site after any changes in these Terms shall constitute your consent to such changes. AT&T reserves the
            right to change, modify or discontinue, temporarily or permanently, the Site (or any portion thereof),
            including any and all content contained on the Site, at any time without notice. You agree that AT&T shall
            not be liable to you or to any third party for any modification, suspension or discontinuance of the Site
            (or any portion thereof).



            4. REGISTRATION, PASSWORD AND SECURITY
            Whenever you provide us information on our Site, you agree to: (a) provide true, accurate, current and
            complete information and (b) maintain and promptly update such information to keep it true, accurate,
            current and complete. If you provide any information that is, or we have reasonable grounds to suspect that
            the information is, untrue, inaccurate, not current or incomplete, AT&T may without notice suspend or
            terminate your access to our Site and refuse any and all current or future use of our Site (or any portion
            thereof).

            If any portion of our Site requires you to register or open an account you may also be asked to choose a
            password and a user name. Please select a password that would not be obvious to someone trying to guess your
            password, and change it regularly as an added precaution. You are responsible for maintaining the
            confidentiality of the password and account, and you are fully responsible for all activities that occur
            under your password or account identification. You agree to immediately notify AT&T of any unauthorized use
            of your password or account or any other breach of security. Without limiting any rights which AT&T may
            otherwise have, AT&T reserves the right to take any and all action, as it deems necessary or reasonable, to
            ensure the security of the Sites and your account, including without limitation terminating your account,
            changing your password, or requesting additional information to authorize transactions on your account.
            Notwithstanding the above, AT&T may rely on the authority of anyone accessing your account or using your
            password and in no event and under no circumstances shall AT&T be held liable to you for any liabilities or
            damages resulting from or arising out of (i) any action or inaction of AT&T under this provision, (ii) any
            compromise of the confidentiality of your account or password and (iii) any unauthorized access to your
            account or use of your password. You may not use anyone else's account at any time, without the permission
            of the account holder.

            The security of your personally identifying information is important to us. While there is no such thing as
            "perfect security" on the Internet, we will take reasonable steps to help ensure the safety of your
            personally identifying information. However, you understand and agree that such steps do not guarantee that
            use of the Site is invulnerable to all security breaches, and that AT&T makes no warranty, guarantee, or
            representation that use of any of our Site is protected from viruses, security threats or other
            vulnerabilities.



            5. PRIVACY POLICY
            Please view our Privacy Policy, which explains AT&T's practices relating to the collection and use of your
            information through or in connection with our Sites. AT&T's use of your information is governed at all times
            by our Privacy Policy, which is incorporated into these Terms. If you are using the about.att.com site, or
            the AT&T Discovery District site, use of those sites are governed by a different policy. You understand that
            through your use of these Sites you consent to the collection and use of this information (as set forth in
            the applicable privacy policy).



            6. COPYRIGHT AND AUTHORIZATION
            The Sites provide you access to a wide variety of information, shopping, communications, entertainment,
            games, advertising and other services, products, data and materials ("Content"). Some of the Content is
            owned by AT&T Intellectual Property II., L.P. d/b/a AT&T Intellectual Property and/or its affiliates. Other
            portions are owned by non-AT&T companies or third parties such as suppliers, vendors, and licensors
            (including Content that is generated by users as further described in Section 11).

            Some portions of the site may require you to download software ("Software") in order that you may access the
            Site, the services provided through the Site and/or the Content. The Software may be the property of AT&T or
            a supplier, vendor, or licensor to AT&T. The Content and Software are protected by a variety of laws
            governing the use of copyrights, trademarks, patents, or trade secrets. Subject to the rules and limitations
            set forth in the Terms, you are granted a limited, non-sublicensable right to access the Sites, the Content
            and the Software for your personal non-commercial use only, except as otherwise permitted. Without limiting
            the generality of the foregoing, no Software or underlying information or technology may be downloaded or
            otherwise exported or re-exported (a) into Cuba, North Korea, Iran, Sudan, Syria or any other country for
            which the U.S. maintains an embargo on such exports, or (b) to a person or entity identified on lists of the
            U.S. Treasury Department (e.g., Specially Designated Nationals, Denied Persons or Entities) or the U.S.
            Commerce Department (e.g., Entity List, Table of Deny Orders), which control such exports. By downloading or
            using the Software or underlying information or technology, you agree to the foregoing and represent and
            warrant that you are not located in, under the control of, or a national or resident of any such country or
            on any such list.



            7. COPYRIGHT COMPLAINTS
            AT&T respects the intellectual property rights of others. Pursuant to the Digital Millennium Copyright Act
            of 1998 (the "DMCA"), under 17 U.S.C. §§ 512(b)–(d), a copyright holder may send AT&T a valid notification
            of claimed copyright infringement under the DMCA if they believe that their work has been copied and has
            been posted, stored, or transmitted to the Sites in a way that constitutes copyright infringement. For
            further information regarding such notifications, see https://www.att.com/legal/terms.dmca.html. AT&T's
            designated agent to receive notifications of claimed infringement as described in DMCA subsection 512(c)(3)
            is:

            Manager of Security & Copyright Infringement
            1800 Perimeter Park Drive, Suite 100
            Morrisville, NC 27560
            E-mail: copyright@att.com

            Due to the substantial volume of notifications of claimed infringement that AT&T receives and processes, we
            are unable to accept notices of alleged copyright infringement via this designated agent or email address
            other than notifications of claimed infringement sent pursuant to Sections 512(b)–(d). For further
            information about AT&T's copyright protection practices under the DMCA please refer to
            https://www.att.com/legal/terms.dmca.html.



            8. TRADEMARKS AND SERVICE MARKS
            Trademarks (including but not limited to AT&T and the Globe Logo) that are used or displayed on the Sites
            are owned by AT&T Intellectual Property or by third parties other than AT&T that offer and provide products
            and services on or through the Sites. The trademarks of AT&T Intellectual Property may not be copied or
            used, in whole, partial or modified form, without the prior written permission of AT&T Intellectual Property
            or, if applicable, its licensor. In addition, AT&T custom graphics, logos, button icons, scripts, and page
            headers are covered by trademark, trade dress, copyright or other proprietary right law, and may not be
            copied, imitated, or used, in whole, partial or modified form, without the prior written permission of AT&T
            Intellectual Property. Other trademarks, service marks, registered trademarks, product and service names,
            and company names or logos that appear on the Sites are the property of their respective owners, who may or
            may not be affiliated with, connected to, or sponsored by AT&T. You may not use any meta tags or any other
            "hidden text" utilizing an AT&T name, trademark, or product name without AT&T's express written consent. The
            BLUETOOTH® word mark and logos are registered trademarks owned by Bluetooth SIG, Inc. and any use of such
            marks by AT&T is under license. Other trademarks and trade names are those of their respective owners.



            9. THIRD-PARTY PRODUCTS AND SERVICES
            Parties other than AT&T may offer and provide products and services on or through the Sites. Except for AT&T
            branded information, products or services that are identified as being supplied by AT&T, AT&T does not
            operate, control, or endorse any information, products, or services on the Sites or accessible through the
            Sites in any way. AT&T is not responsible for examining or evaluating, and AT&T does not warrant the
            offerings of, any of these businesses or individuals or the content of their websites. AT&T does not assume
            any responsibility or liability for the actions, product, and content of all these and any other third
            parties. You should carefully review their privacy statements and other conditions of use.

            The Sites may contain links to other websites not operated by AT&T. The links are provided for your
            convenience. The inclusion of any links to other websites does not imply affiliation, endorsement or
            adoption by AT&T of those websites or the contents therein. We are not responsible for the contents, links
            or privacy of any linked website. Access to any other websites linked to the Sites is at your own risk. When
            leaving the Site, you should carefully review the applicable terms and policies, including privacy and data
            gathering practices, of that third-party website.


        </pre>
    </div>
</div>